<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>
    <body>
        <%- include("../partials/header.ejs") %>
            <main>
                <div><p style="text-align:center">
                    <form action="/arts/<%= art._id %>?_method=PUT" method="post">
                        <fieldset>
                            <legend><p style="text-align:center">Edit the <%= art.name %> submission!
                            </legend>
                            <br>
                            <br>
                            <label>
                                <b>NAME:</b> <input type="text" name="name" value="<%= art.name %>" placeholder="enter art name" />
                            </label>
                            <br>
                            <br>
                            <label>
                                <b>LOCATION:</b> <input type="text" name="location" value="<%= art.location %>" placeholder="enter art location" />
                            </label>
                            <br>
                            <br>
                            <label>
                                <b>ARTIST:</b> <input type="text" name="artist" value="<%= art.artist %>" placeholder="enter artist name" />
                            </label>
                            <br>
                            <br>
                            <label>
                                <b>IMAGE URL:</b> <input type="text" name="image" value="<%= art.image %>" placeholder="enter image URL" />
                            </label>
                            <br>
                            <br>
                            <label>
                                <b>REVIEW:</b> <input type="text" name="review" value="<%= art.review %>" placeholder="enter art review" />
                            </label>
                            <br>
                            <br>
                            <label>
                                <b>RATING: </b><input type="number" name="rating" value="<%= art.rating %>" placeholder="1-5" />
                            </label>
                        </fieldset>
                        <p style="text-align:center">
                        <button class="btn btn-outline-success" type="submit"> Update <%= art.name %></button></a>
                    </form>
                </div>
            </main>
    </body>
</html>