<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>
    <body>
        <%- include("../partials/header.ejs") %>
            <main>
                <div><p style="text-align:center">
                    <form action="/arts/<%= art._id %>?_method=PUT" method="post">
                        <fieldset>
                            <legend>Edit the <%= art.name %>
                            </legend>
                            <label>
                                NAME:<input type="text" name="name" value="<%= art.name %>" placeholder="enter art name" />
                            </label>
                            <label>
                                LOCATION:<input type="text" name="location" value="<%= art.location %>" placeholder="enter art location" />
                            </label>
                            <label>
                                IMAGE URL:<input type="text" name="image" value="<%= art.image %>" placeholder="enter image URL" />
                            </label>
                            <label>
                                REVIEW:<input type="text" name="review" value="<%= art.review %>" placeholder="enter art review" />
                            </label>
                            <label>
                                RATING:<input type="number" name="rating" value="<%= art.rating %>" placeholder="1-5" />
                            </label>
                        </fieldset>
                        <input type="submit" value="Update <%= art.name %>" />
                    </form>
                </div>
            </main>
    </body>
</html>