<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>
    <body>
        <%- include("../partials/header.ejs") %>
    <main>
        <div>
            <div class="card-container">
            <% for (art of art) { %>
                <br>
                <div class="card" style="width: 18rem; text-align:center">
                    <img src="<%= art.image %>" class="card-img-top">
                    <img id="output" width="200" />	
                    <div class="card-body">
                    <h4 class="card-title"><%= art.name %></h4>
                      <p class="card-text">
                      <h6><%= art.location %></h6>
                      <h6><%= art.artist %></h6>
                      <br>
                      <h7><%= art.review %></h7>
                      <br>
                      <h7><%= art.rating %> &#127775;</h7>
                      <br>
                      <br>
                  <a href="/arts/<%= art._id %>" class="btn btn-primary">See details</a>
                </div>
            </div> <% } %>
               <br>
               <br>
          </div>
       <p style="text-align:center"> <a href="/arts/new" class="btn btn-primary">Submit new art! &#128524;</a>
   </main>
</body>
</html>
