<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>
    <body>
        <%- include("../partials/header.ejs") %>
    <main>
        <div>
            <% for (art of art) { %>
                <div class="card" style="width: 18rem;">
                <!-- <img src="<%= art.image %>" class="card-img-top" alt="..."> -->
                <div class="card-body">
                  <h5 class="card-title"><%= art.name %></h5>
                  <p class="card-text"><%= art.review %></p>
                  <a href="/arts/<%= art._id %>" class="btn btn-primary">See details</a>
                </div>
              </div>
               <!-- <article>
                   <a href="/arts/<%= art._id %>">
                       <h5>
                           <%= art.name %> - <%= art.location %> <%= art.url %> - <%-art.rating %>
                       </h5>
                   </a>
               </article> -->
               <% } %>

               <a href="/arts/new" class="btn btn-primary">Log new art!</a>
       </div>
   </main>
</body>
</html>
