<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>
    <body>
        <%- include("../partials/header.ejs") %>
    <main>
        <div>  
           <% for (art of art) { %>
               <article>
                   <a href="/arts/<%= art._id %>">
                       <h5>
                           <%= art.name %> - <%= art.location %> <%= art.url %> - <%-art.rating %>
                       </h5>
                   </a>
               </article>
               <% } %>
               <a href="/arts/new"><button>Log new art</button></a>
       </div>
   </main>
</body>
</html>
