<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>
    <body>
        <%- include("../partials/header.ejs") %>
            <main>
                <div>
                    <article><p style="text-align:center">
                        <h1><p style="text-align:center">
                            <%= art.name %>
                        </h1>
                        <h4><p style="text-align:center">
                            <%= art.location %>
                        </h4>
                        <h5><p style="text-align:center">
                            <%= art.artist %>
                        </h5>
                        <h3><p style="text-align:center">
                            <img src="<%= art.image %>" class="img-rounded" alt="Cinque Terre" width="60%" height="60%">
                        </h3>
                        <h6><p style="text-align:center">
                            <%= art.review %>
                        </h6>
                        <h6><p style="text-align:center">
                            RATING &#127775;: <%= art.rating %>
                        </h6><p style="text-align:center">
                        <a href="/arts/<%= art._id %>/edit"><button class="btn btn-outline-success" type="submit">Edit</button></a>
                        <form action="/arts/<%= art._id %>?_method=DELETE" method="POST"><p style="text-align:center"><button class="btn btn-outline-success" type="submit">Delete</button>
                        </form>
                        <p style="text-align:center"><a href="/arts/"><button class="btn btn-outline-success" type="submit">Back to Main</button></a>
                    </article>
                </div>
            </main>
    </body>
</html>