<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>
    <body>
        <%- include("../partials/header.ejs") %>
            <main>
                <div>
                    <article><p style="text-align:center">
                        <h2><p style="text-align:center">
                            <%= art.name %>
                        </h2>
                        <h3><p style="text-align:center">
                            <%= art.location %>
                        </h3>
                        <h3><p style="text-align:center">
                            <%= art.artist %>
                        </h3>
                        <h3><p style="text-align:center">
                            <img src="<%= art.image %>" class="card-img-top">
                        </h3>
                        <h3><p style="text-align:center">
                            <%= art.review %>
                        </h3>
                        <h3><p style="text-align:center">
                            RATING (1-5): <%= art.rating %>
                        </h3><p style="text-align:center">
                        <a href="/arts/<%= art._id %>/edit"><button class="btn btn-outline-success" type="submit">Edit</button></a>
                        <form action="/arts/<%= art._id %>?_method=DELETE" method="POST"><p style="text-align:center"><button class="btn btn-outline-success" type="submit">Delete</button>
                        </form>
                        <p style="text-align:center"><a href="/arts/"><button class="btn btn-outline-success" type="submit">Back to Main</button></a>
                    </article>
                </div>
            </main>
    </body>
</html>